@model IEnumerable<Dahab.Models.Category>

@{
    ViewBag.Title = "الانواع";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title mt-0">
                                <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </h4>
                        </div>
                        @if (TempData["error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@TempData["error"]</strong>
                            </div>
                        }
                        @if (TempData["Done"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@TempData["Done"]</strong>
                            </div>
                        }
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example23" class="display nowrap table table-hover">
                                    <thead>
                                    <th>
                                        الاسم
                                    </th>
                                    <th>
                                        <i class="fa fa-image"></i>
                                    </th>
                                    <th>
                                        <i class="fa fa-cogs"></i>
                                    </th>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr id="@item.ID">
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    <img src="~/Uploads/Categories/@(item.ID).jpg" width="50px" />
                                                </td>
                                                <td>
                                                    <button class="btn btn-info" onclick="Details(@(item.ID));" data-toggle="modal" data-target="#myModal2"> <i class="fa fa-info-circle"></i></button>
                                                    <button class="btn btn-primary" onclick="Edit(@(item.ID));" data-toggle="modal" data-target="#myModal1"> <i class="fa fa-cog"></i></button>
                                                    <button class="btn btn-danger" onclick="Delete(@(item.ID));"> <i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Modal -->
        <div id="myModal" class="modal fade " role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">اضافة نوع </h4>
                    </div>
                    <div class="modal-body">
                        <form action="~/Categories/Create" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label"><i class="fa fa-user-circle"></i> الاسم : </label>
                                <div class="col-sm-8">
                                    <input type="text" name="Name" required class="form-control" id="staticEmail" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label"><i class="fa fa-user-circle"></i> الاسم EN  : </label>
                                <div class="col-sm-8">
                                    <input type="text" name="Name_EN" required class="form-control" id="staticEmail" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 text-right" style="line-height: 2.5em;"> صورة </label>
                                <div class="col-xs-12 col-md-4 ">
                                    <div class="input-group image-preview">

                                        <span class="input-group-btn">

                                            <div class="btn btn-outline-dark image-preview-input">
                                                <input type="file" accept="" required name="Photo" />
                                                <i class="fa fa-folder-open"></i>
                                                اختر صورة

                                            </div>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label"><i class="fa fa-box"></i>  المقاسات  : </label>
                                <div class="col-md-8">

                                    <div class="input-group mb-3">

                                        <input type="text" id="size" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button onclick="AddSize(1);" class="btn btn-outline-primary" type="button"> اضافة </button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="exampleadd" class="display nowrap table table-hover">
                                        <thead>
                                        <th>
                                            المقاس
                                        </th>
                                        <th>
                                            <i class="fa fa-cogs"></i>
                                        </th>
                                        <th></th>
                                        </thead>
                                        <tbody id="adddata">

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> اضافة </button>
                        </form>

                        <style>
                            .input-group > .input-group-append > .btn {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }

                            .input-group > .input-group-append > .btn {
                                border-top-left-radius: 5px;
                                border-bottom-left-radius: 5px;
                            }
                        </style>

                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Modal -->
        <div id="myModal1" class="modal fade " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">تعديل نوع </h4>
                    </div>
                    <div class="modal-body">

                        <form action="~/Categories/Edit" method="post" enctype="multipart/form-data">
                           @Html.AntiForgeryToken()
                             <div id="FormEdit">

                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 text-right" style="line-height: 2.5em;"> صورة </label>
                                <div class="col-xs-12 col-md-4 ">
                                    <div class="input-group image-preview">

                                        <span class="input-group-btn">

                                            <div class="btn btn-outline-dark image-preview-input">
                                                <input type="file" accept="" name="Photo" />
                                                <i class="fa fa-folder-open"></i>
                                                اختر صورة

                                            </div>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label"><i class="fa fa-box"></i>  المقاسات  : </label>
                                <div class="col-md-8">

                                    <div class="input-group mb-3">

                                        <input type="text" id="sizeedit" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button onclick="AddSize(2);" class="btn btn-outline-primary" type="button"> اضافة </button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="exampleedit" class="display nowrap table table-hover">
                                        <thead>
                                        <th>
                                            المقاس
                                        </th>
                                        <th>
                                            <i class="fa fa-cogs"></i>
                                        </th>
                                        <th></th>
                                        </thead>
                                        <tbody id="editdata">

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> حفظ </button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
        <!-- Info Modal -->
        <div id="myModal2" class="modal fade " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> معلومات النوع </h4>
                    </div>
                    <div class="modal-body" id="DetailsForm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Delete Script*@

<script>
    function Delete(i) {

        var Confirmed = confirm('هل تريد مسح هذا النوع بالفعل ؟؟ .. سيتم مسح كل المقاسات والمنتجات الموجودة بهذا النوع');

        if (Confirmed == true) {
            $.post("@Url.Action("Delete", "Categories")", {

                id: i

            },
        function (data) {
            $("#example23 tr#" + data + "").remove();
        }

          )
        }
    }


</script>

@*Add && Delete Size Script*@

<script>
    function AddSize(isadd) {

        if (isadd == 1) {
            var data = $("#size").val();
            data = data.trim();
            if (!isNaN(data) && data != '') {
                var sizes = document.getElementsByName("Sizes");
                for (var i = 0; i < sizes.length; i++) {
                    if (data == sizes[i].value) {
                        return false;
                    }
                }
                $("#exampleadd #adddata").append('<tr id="' + data + '">\
                                                <td>\
                                                    <input id="Hidden3" value="'+ data + '" name="Sizes" type="hidden" />' + data + ' \
                                                </td>\
                                                <td>\
                                                    <button onclick="DeleteSize('+ data + ',1);" type="button" class="btn btn-danger">\
                                                        <i class="fas fa-times" style="color:#fff;"></i>\
                                                    </button>\
                                                </td>\
                                            </tr>');
                $("#size").val('');
            }

        } else {
            var data = $("#sizeedit").val();
            data = data.trim();
            if (!isNaN(data) && data != '') {
                var sizes = document.getElementsByName("Sizesedit");
                var sizespast = document.getElementsByName("Sizeseditpast");
                for (var i = 0; i < sizes.length; i++) {
                    if (data == sizes[i].value) {
                        return false;
                    }
                }
                for (var i = 0; i < sizespast.length; i++) {
                    if (data == sizespast[i].value) {
                        return false;
                    }
                }
                $("#exampleedit #editdata").append('<tr id="' + data + '">\
                                                <td>\
                                                    <input id="Hidden1" value="'+ data + '" name="Sizesedit" type="hidden" />' + data + ' \
                                                </td>\
                                                <td>\
                                                    <button onclick="DeleteSize('+ data + ',2);" type="button" class="btn btn-danger">\
                                                        <i class="fas fa-times" style="color:#fff;"></i>\
                                                    </button>\
                                                </td>\
                                            </tr>');
                $("#sizeedit").val('');
            }

        }
    }

</script>
<script>
    function DeleteSize(data, i) {
        if (i == 1)
        {
            $("#exampleadd tr#" + data + "").remove();
        } else {
            $("#exampleedit tr#" + data + "").remove();
        }
    }
</script>

@*Edit Script*@

<script>
    function Edit(i) {

        $("#FormEdit").html('<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>');
            $.post("@Url.Action("Category", "Categories")", {

                id: i

            },
        function (data) {
            $("#FormEdit").html('');
            $("#exampleedit #editdata").html('');
            $("#FormEdit").append('<input id="Hidden9" name="ID" value="'+data.ID+'" type="hidden" />\
                                <div class="form-group row">\
                                    <label for="name" class="col-sm-4 col-form-label"><i class="fa fa-user-circle"></i> الاسم : </label>\
                                    <div class="col-sm-8">\
                                        <input type="text" name="Name"  required class="form-control" id="staticEmail" value="'+data.Name+'">\
                                    </div>\
                                </div>\
                                <div class="form-group row">\
                                    <label for="name" class="col-sm-4 col-form-label"><i class="fa fa-user-circle"></i> الاسم EN  : </label>\
                                    <div class="col-sm-8">\
                                        <input type="text" name="Name_EN" required class="form-control" id="staticEmail" value="'+data.Name_EN+'">\
                                    </div>\
                                </div>');

            var array = data.Sizes;
            for (var i = 0; i < array.length; i++) {
                $("#exampleedit #editdata").append('<tr id="' + array[i].ID + '">\
                                                <td>\
                                                   <input id="Hidden2" value="' + array[i].Size1 + '" name="Sizeseditpast" type="hidden" />' + array[i].Size1 + ' \
                                                </td>\
                                                <td>\
                                                    <button onclick="DeleteSizeFromDB(' + array[i].ID + ');" type="button" class="btn btn-danger">\
                                                        <i class="fas fa-times" style="color:#fff;"></i>\
                                                    </button>\
                                                </td>\
                                            </tr>');
            }
            
        }

          )
        }

</script>

@*DeleteSizeFromDB Script*@

<script>
    function DeleteSizeFromDB(i) {

        var Confirmed = confirm('هل تريد مسح هذا المقاس بالفعل ؟؟ ');

        if (Confirmed == true) {
            $.post("@Url.Action("DeleteSizeFromDB", "Categories")", {

                id: i

            },
        function (data) {
            $("#exampleedit tr#" + data + "").remove();
        }

          )
        }
    }


</script>

@*Details Script*@

<script>
    function Details(i) {
        $("#DetailsForm").html('<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>');
            $.post("@Url.Action("Category", "Categories")", {

            id: i

        },
        function (data) {
            $("#DetailsForm").html("");
            $("#DetailsForm").append('<div class="content">\
                            <div class="container-fluid">\
                                <div class="col-lg-12 col-md-12 col-sm-12">\
                                    <div class="card text-center">\
                                        <div class="card-header card-header-info">\
                                            <i class="fas fa-user-circle"></i> الاسم\
                                        </div>\
                                        <div class="card-body">\
                                            <p class="card-text"> '+data.Name+' </p>\
                                        </div>\
                                    </div>\
                                </div>\
                                <div class="col-lg-12 col-md-12 col-sm-12">\
                                    <div class="card text-center">\
                                        <div class="card-header card-header-info">\
                                            <i class="fas fa-user-circle"></i> الاسم EN\
                                        </div>\
                                        <div class="card-body">\
                                            <p class="card-text"> ' + data.Name_EN + ' </p>\
                                        </div>\
                                    </div>\
                                </div>\
<div class="col-lg-12 col-md-12 col-sm-12">\
                                    <div class="card text-center">\
                                        <div class="card-header card-header-info">\
                                            <i class="fa fa-cart-plus"></i> عدد المنتجات\
                                        </div>\
                                        <div class="card-body">\
                                            <p class="card-text"> ' + data.ProductCount + ' </p>\
                                        </div>\
                                    </div>\
                                </div>\
                                <div class="col-lg-12 col-md-12 col-sm-12">\
                                    <div class="card text-center">\
                                        <div class="card-header card-header-info">\
                                            <i class="fas fa-image"></i> الصورة\
                                        </div>\
                                        <div class="card-body">\
                                            <p class="card-img-bottom">\
                                                <img src="../../Uploads/Categories/'+data.ID+'.jpg" width="40%" />\
                                            </p>\
                                        </div>\
                                    </div>\
                                </div>\
                                <div class="col-md-12">\
                                    <div class="card card-plain">\
                                        <div class="card-header card-header-primary">\
                                            <h4 class="card-title mt-0">\
                                                المقاسات\
                                            </h4>\
                                        </div>\
                                        <div class="card-body">\
                                            <div class="table-responsive">\
                                                <table id="exampledetails" class="display nowrap table table-hover">\
                                                    <thead>\
                                                    <th>\
                                                        المقاس\
                                                    </th>\
                                                    </thead>\
                                                    <tbody id="data"></tbody>\
                                                </table>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>\
                        </div>');
            var array = data.Sizes;
            for (var i = 0; i < array.length; i++) {
                $("#exampledetails #data").append('<tr>\
                                        <td>\
                                            '+array[i].Size1+'\
                                              </td>\
                                                </tr>');
            }

        }

          )
        }
</script>